@import url('https://fonts.googleapis.com/css?family=Montserrat');


body.background {
background-image: url(../images/alcohl.jpg); 

  background-position: center center;
   
  background-repeat: no-repeat;
   
  background-attachment: fixed;
  
  background-size: cover;
}

.btn-primary{
  background-color:#F14E95!important;
  border-color: white ;
  font-family: 'Montserrat', sans-serif;
}

.btn-default{color: :#F14E95;
font-family: 'Montserrat', sans-serif;}

h2{color:#F14E95;
    font-family: 'Montserrat', sans-serif;}

span{color: #F14E95;
    font-family: 'Montserrat', sans-serif;}
