.text-center ,.content_header
{color: #F14E95;
 font-family:
}

h2{    margin-bottom: 1px;}

.a ,.b{
    margin-top: 6px;
    margin-bottom: -7px
}

.c{    margin-bottom: -10px;
    margin-top: 15px;}

p{margin-bottom: -12px;}

.d{margin-bottom:2px;}