.first,.second,.third,.fourth
{margin-top:17px;}

.third-first{margin-top:4px;}

.bt-1{
margin-bottom: 6px;
margin-top: 0}

.bt-2{margin-bottom: 15px;}


/*ここからlisit.phpテキスト色変更*/

h1,h5{color: #F14E95;}

.text-danger{margin-bottom: -20px;}

h5{margin: 0;}

