body,html{
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
   
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
   
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
   
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
   
}

h1 {text-align: center;
    padding-top: 230px;
    margin:10px;
    color: #6E6E6E }

h3{text-align: center;
   margin: 10px;
color: #3B0B17}

a.fancy-button {
    text-align: center;
    width:130px;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:5px 0 7px;
    color:#333;
    border:1px ;
    color: #fff;
    background-color:#FFA0C4;
     border-radius:25px;
     box-shadow:2px 2px #FAD1E1;
     text-shadow:0 -1px #1a6ea0;}

